.App {
    text-align: center;
    padding: 3rem;
}

.AppActions {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
button {
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: .75rem;
}

.AppActions button:last-child {
    grid-column: 1 / 3;
}

.AppCount {
    font-size: 2rem;
    color: cornflowerblue;
}